# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# PostgreSQL (Airflow + Grafana)
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow
POSTGRES_PORT=5433

# Airflow
AIRFLOW__WEBSERVER__SECRET_KEY=your-secret-key-here

# Grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin

# Iceberg REST Catalog
CATALOG_WAREHOUSE=/opt/iceberg/warehouse
